/* Global Reset and Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0000FF !important;
    margin: 0;
}

/* Scrollmenu Styling */
div.scrollmenu {
    background-color: #000C66;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    gap: 1rem;
    font-size: large;
    font-weight: bold;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #242ddd;
}

/* Footer Styling */
footer {
    background: #000C66 !important;
    color: #ddd;
    padding: 2rem 0;
    font-size: 1rem;
    margin-top: 2rem;
}

footer h3 {
    color: #f8f9fa;
    font-weight: bold;
    margin-bottom: 1rem;
}

footer p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 0; /* No space between icons */
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: x-large;
    text-decoration: none;
    color: inherit;
}

.fa-brands, .fa-envelope {
    font-size: x-large;
}

/* Responsive Design */
@media (max-width: 700px) {
    div.scrollmenu {
        width: 100%;
        overflow: auto;
        white-space: nowrap;
        gap: 0.2rem;
        font-size: x-small;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 1px;
    }

    .active {
        background-color: #242ddd;
    }

    footer {
        background-color: #1e1ec2;
        color: #ddd;
        padding: 0rem 0;
        font-size: 0.9rem;
    }

    .social-icons {
        gap: 0; /* No space between icons */
    }

    .social-icons a {
        flex: 1; /* Ensure all icons share equal space */
    }
}

@media (min-width: 992px) { /* Laptop screen size and larger */
    .social-icons {
        display: flex;
        gap: 0.5rem; /* Slight spacing between icons */
    }

    .social-icons a {
        font-size: x-large;
    }
}
